@import "variables";

.about {
  display: flex;
  flex-direction: column;

  &__slogan {
    padding: 30px 20px;
    font-size: 30px;
    color: $color-black;
    font-family: $Gilroy-Light;
    line-height: normal;
    text-align: center;

    &--semibold {
      font-family: $Gilroy-SemiBold;
    }
  }

  &__socials {
    background-color: $color-black;
    padding: 40px 30px 40px 0;
    text-align: right;

    &__text {
      color: white;
      font-size: 28px;
      line-height: 20px;
      font-family: $Gilroy-Medium;
      padding-bottom: 30px;
    }

    &__icons > * {
      padding-left: 10px;
    }
  }
}

@media (min-width: 769px) {
  .about__slogan {
    font-size: 40px;
  }
}

@media (min-width: 1201px) {
  .about {
    flex-direction: row;
    padding: 70px 0;
    border-bottom: 1px solid $color-black;

    &__slogan {
      width: 70%;
    }

    &__socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
    }
  }
}