@import "variables";

.contact {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid $color-black;

  &__title {
    font-size: 56px;
    font-family: $Gilroy;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $color-black;
    letter-spacing: 2px;
    padding-bottom: 30px;
  }

  &__slogan {
    font-size: 45px;
    font-family: $Gilroy-Bold;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
  }

  &__text {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    font-family: $Gilroy-Medium;
    line-height: normal;
    color: $color-black;
    text-align: center;
  }

  &__item {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 30px;
    background-color: $color-black;
    width: 100%;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }

  &__item__link {
    position: relative;
    color: #ffffff;
    text-decoration: none;

    &::after {
      content: url("../images/icons/arrow-side.svg");
      position: absolute;
      left: 90px;
      top: 0;
    }
  }
}

@media (min-width: 769px) {
  .contact__wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact__title {
    font-size: 135px;
    padding-bottom: 45px;
  }

  .contact__slogan {
    font-size: 50px;
  }

  .contact__text {
    font-size: 29px;
  }

  .contact__item {
    width: 185px;
    align-self: center;
    padding:10px 15px 10px 0;
  }
}

@media (min-width: 1201px) {
  .contact {
    padding-top: 100px;

    &__title {
      text-align: left;
      font-size: 120px;
    }
    
    &__slogan {
      text-align: left;
    }

    &__text {
      text-align: left;
    }

    &__item {
      align-self: flex-start;
    }
  }
  .contact > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}