@import "variables";

.footer {
  padding-top: 20px;
  padding-bottom: 20px;

  &__copyright {
    text-align: center;
    color: $color-black;
    font-family: $Gilroy-Light;
    font-weight: 400;
    font-size: 18px;

    &--semibold {
      font-family: $Gilroy-SemiBold;
    }
  }

  &-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
  }
}

@media (min-width: 769px) {
  .footer > .container {
    display: flex;
    align-items: center;
    line-height: 50px;
    justify-content: space-between;
  }

  .footer__copyright {
  }
}