@import "variables";

.header {
  padding-top: 20px;
  padding-bottom: 14px;

  &__title {
    padding-top: 30px;
    font-size: 57px;
    text-align: center;
    font-family: $Gilroy-SemiBold;
  }

  &__title--semibold {
    padding-top: 10px;
    font-family: $Gilroy-Light;
    font-size: 57px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__arrow__fluid {
    padding-bottom: 14px;
  }

  &__arrow__icon {
    display: block;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;

    &__link {
      text-decoration: none;
    }

    &__text {
      display: none;
      font-family: $Gilroy;
      font-weight: 400;
      font-size: 35px;
      margin-left: 10px;

      &--bold {
        font-family: $Gilroy-SemiBold;
        font-weight: 800;
      }

      &--reserved {
        display: none;
        font-size: 25px;
        align-self: flex-start;
      }
    }
  }

  &__menu__link {
    text-decoration: none;
    color: $color-black;
    font-family: $Gilroy-SemiBold;
    font-size: 25px;
  }
}

@media (min-width: 769px) {
  .nav__logo__text {
    display: block;

    &--reserved {
      display: block;
    }
  }

  .header {
    padding-top: 40px;

    &__title {
      font-size: 120px;
    }

    &__title--semibold {
      font-size: 120px;
    }

    &__arrow__fluid {
      padding-bottom: 40px;
    }
  }
}

@media (min-width: 1201px) {
  .header {

    &__title {
      font-size: 140px;
    }

    &__title--semibold {
      font-size: 140px;
    }

    &__arrow__fluid {
      padding-bottom: 40px;
    }
  }
}
