@import "variables";

.logos {
  padding: 30px 0;
  border-bottom: 1px solid $color-black;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    &__item {
      padding: 15px 35px;
      background-color: #fff;
      border-radius: 50px;
      height: 100%;
    }
  }
}

@media (min-width: 769px) {
  .logos {
    padding: 40px 0;
  }
}

@media (min-width: 1201px) {
  .logos {
    padding: 70px 0;
  }
}