@import "variables";

.reviews {
  padding-top: 30px;
  border-bottom: 1px solid $color-black;

  &__title {
    font-size: 56px;
    font-family: $Gilroy-Light;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.review {
  border-bottom: 1px solid $color-black;
  padding: 40px 0;

  &__logo {
    padding-bottom: 30px;
  }

  &__title {
    font-size: 40px;
    font-family: $Gilroy-Bold;
    font-weight: 800;
    padding-bottom: 30px;
  }

  &__text {
    font-size: 20px;
    font-family: $Inter;
    padding-bottom: 30px;
    line-height: 30px;
  }

  &-author {
    display: flex;
  }

  &-description {
    padding-left: 20px;

    &__name {
      padding-top: 5px;
      font-family: $Inter;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
    }

    &__title {
      padding-top: 10px;
      font-family: $Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

.review:last-child {
  border: none;
}

@media (min-width: 769px) {
  .reviews__title {
    font-size: 135px;
  }
}

@media (min-width: 1201px) {
  .reviews {
    padding-top: 50px;
    padding-bottom: 130px;

    &__title {
      font-size: 180px;
      padding-bottom: 30px;
    }

    &__items {
      grid-template-columns: repeat(3, 1fr);
    }

    .review {
      display: grid;
      grid-template-rows: 70px 190px 1fr;
      position: relative;
      padding: 30px 30px 60px 30px;

      &__text {
        padding-top: 30px;
      }
    }

    .review:nth-child(4), .review:nth-child(5), .review:nth-child(6) {
      border-bottom: none;
    }

    .review:nth-child(1), .review:nth-child(2), .review:nth-child(4), .review:nth-child(5) {
      border-right: 1px solid $color-black;
    }
  }
}

@media (min-width: 1690px) {
  .reviews__items {

    .review {
      grid-template-rows: 70px 120px 1fr;
    }
  }

}

