@import "variables";

.selected {
  padding: 30px 0 30px;
  border-bottom: 1px solid $color-black;

  &__title {
    text-align: center;
    font-family: $Gilroy-Light;
    font-size: 56px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
}

.selected__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selected-item {

  &__img {
    width: 100%;
    height: 417px;
    object-fit: cover;
    object-position: 100% 0;
  }
}

.selected-item:first-child > img {
  object-position: center;
}

.selected-item:nth-child(4) > img {
  object-position: center;
}

.selected-item--links {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & a {
    text-decoration: none;
    color: $color-black;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #fff;
    font-family: $Gilroy-Medium;
    font-size: 18px;
  }

  .selected-item__info a {
    padding: 10px 20px;
  }

  .selected-item__info a:last-child {
    margin-left: 30px;
  }

  .selected-item__title {
    font-size: 35px;
    font-family: $Gilroy-Bold;
    text-transform: uppercase;
    color: $color-black;
    font-weight: 700;
    padding-bottom: 20px;
  }
  
  .selected-item__link--more {
    background-color: $color-black;
    color: #ffffff;
    width: 162px;
    margin-left: auto;
    position: relative;
  }

  .selected-item__link--more::after {
    content: url("../images/icons/arrow-side.svg");
    position: absolute;
    right: 30px;
  }
}

.selected__link {
  text-decoration: none;
  margin-top: 40px;
  color: $color-black;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #fff;
  font-family: $Gilroy-Medium;
  font-size: 18px;
  display: flex;
  justify-content: center;
}



@media (min-width: 360px) {

  .selected-item--links {

    .selected-item__info a {
      padding: 10px 30px;
    }
  }
}

@media (min-width: 769px) {
  .selected__title {
    font-size: 135px;
  }

  .selected-item__img {
    aspect-ratio: 1/1;
    height: auto;
  }

  .selected-item__title {
    font-size: 40px;
  }

  .selected__link {
    text-align: center;
    width: 190px;
    display: inline-block;
    margin-left: calc(50% - 95px);
  }
}

@media (min-width: 1201px) {
  .selected {
    padding-bottom: 100px;
  }

  .selected__title {
    font-size: 140px;
  }

  .selected__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .selected-item:nth-child(1) {
    order: 2;
  }
  .selected-item:nth-child(2) {
    order: 3;
  }
  .selected-item:nth-child(3) {
    order: 1;
  }
  .selected-item:nth-child(4) {
    order: 4;
  }
  .selected-item:nth-child(5) {
    order: 5;
  }
  .selected-item:nth-child(6) {
    order: 6;
  }
}

