@import "variables";

.tasks {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-black;

  &__image {
    background: no-repeat url("../images/whatido-background.jpg") center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  &__description {
    padding-top: 20px;
  }

  &__title {
    font-size: 80px;
    font-family: $Gilroy-Light;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: $color-black;
  }
}

.items {
  &-item {
    border-bottom: 1px solid $color-black;
    padding: 30px 0;

    &__title {
      font-family: $Gilroy-SemiBold;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 400;
      color: $color-black;
      margin-left: 40px;
      padding-bottom: 10px;
      position: relative;
    }

    &__text {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 400;
    }


  }

  &-item:last-child {
    border: none;
  }
}

.items-item:nth-child(1) > h3::before {
  content: '01';
  position: absolute;
  left: -40px;
  top: 0;
  font-family: $Gilroy-Light;
}
.items-item:nth-child(2) > h3::before {
  content: '02';
  position: absolute;
  left: -40px;
  top: 0;
  font-family: $Gilroy-Light;
}
.items-item:nth-child(3) > h3::before {
  content: '03';
  position: absolute;
  left: -40px;
  top: 0;
  font-family: $Gilroy-Light;
}
.items-item:nth-child(4) > h3::before {
  content: '04';
  position: absolute;
  left: -40px;
  top: 0;
  font-family: $Gilroy-Light;
}

@media (min-width: 769px) {
  .tasks__description {
    padding-top: 40px;
  }

  .tasks__title {
    font-size: 130px;
  }
}

@media (min-width: 1201px) {
  .tasks {
    flex-direction: row;

    &__title {
      font-size: 135px;
    }

    &__image {
      width: 50%;
    }

    & > .container {
      padding: 70px 70px 70px 80px;
      width: 50%;
    }
  }
}