@import "variables";

.team {
  border-bottom: 1px solid $color-black;
  padding-top: 30px;
}

.team__title {
  font-size: 80px;
  font-family: $Gilroy-Light;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: $color-black;
}

.team__teammates {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 50px;
}

.team-teammate {
  padding: 20px 0 20px;
  display: flex;
  flex-direction: column;

  &__name {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: $Gilroy-SemiBold;
    text-transform: uppercase;
    line-height: normal;

    &__link {
      text-decoration: none;
      color: $color-black;
    }
  }
  
  &__title {
    text-align: center;
    font-size: 20px;
    font-family: $Gilroy;
    line-height: normal;
    padding-bottom: 15px;

    &__link {
      text-decoration: none;
      color: $color-black;
    }
  }

  &__photo {
    width: 100%;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
  }
}

.join {
  padding-top: 10px;

  &__text {
    font-size: 30px;
    font-weight: 400;
    font-family: $Gilroy;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    font-size: 40px;
    font-family: $Gilroy-Bold;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
  }

  &__item {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 30px;
    background-color: $color-black;
    width: 100%;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }

  &__item__link {
    position: relative;
    color: #ffffff;
    text-decoration: none;

    &::after {
      content: url("../images/icons/arrow-side.svg");
      position: absolute;
      left: 65px;
      top: 0;
    }
  }
}

@media (min-width: 769px) {
  .team__title {
    font-size: 135px;
  }

  .team__teammates {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .team-teammate__name {
    text-align: left;
  }

  .team-teammate__title {
    text-align: left;
  }

  .team-teammate__socials {
    margin-left: auto;
  }

  .join {
    grid-column: 1/3;

      &__text {
        text-align: left;
      }

      &__title {
        font-size: 50px;
        text-align: left;
      }

      &__item {
        width: 155px;
        text-align: left;
        padding-top: 6px;
      }
  }
}

@media (min-width: 1201px) {
  .team {
    padding-top: 50px;

    &__title {
      font-size: 180px;
    }

    &__teammates {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr 10px;
    }

    &-teammate {
      display: grid;
      grid-template-rows: 35px 35px 1fr 50px;

      &__name {
        font-size: 26px;
      }

      &__title {
        font-size: 18px;
      }
    }
    .join {
      grid-column: 3/5;
      display: flex;
      align-items: center;
    }
  }
}


