/* FONTS */

$Gilroy: 'Gilroy';
$Gilroy-SemiBold: 'Gilroy-SemiBold';
$Gilroy-Light: 'Gilroy-Light';
$Gilroy-Medium: 'Gilroy-Medium';
$Gilroy-Bold: 'Gilroy-Bold';
$Inter: 'Inter';

/* COLORS */

$color-black: #252525;