@import 'reset';
@import "variables";
@import "header";
@import "author-photo";
@import "about";
@import "logos";
@import "tasks";
@import "selected";
@import "reviews";
@import "team";
@import "contact";
@import "footer";

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F3EA;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 769px) {
  .container {
    padding: 0 30px;
  }
}